*::-webkit-input-placeholder {
	color: #666;
	opacity: 1;
}
*:-moz-placeholder {
	color: #666;
	opacity: 1;
}
*::-moz-placeholder {
	color: #666;
	opacity: 1;
}
*:-ms-input-placeholder {
	color: #666;
	opacity: 1;
}

body input:focus:required:invalid,
body textarea:focus:required:invalid {
	
}
body input:required:valid,
body textarea:required:valid {
	
}
body {
    color: #555;
	font-family: "RobotoRegular", sans-serif;
	font-size: 16px;
	min-width: 320px;
	position: relative;
    margin-top: 80px;
}
.hidden {
	display: none;
}
.carousel img {
	width: 100%;
	height: auto;
}
.parallax {
	background-attachment: fixed;
	background-position: 50% 0;
	position: relative;
}

.thin-borderline {
  background: #e0e0e0;
  width: 100%;
  display: block;
  height: 1px;
  position: relative;
  margin: 10px 0 30px 0;
}

.info-panel {
    box-sizing: border-box;
  padding: 0 10px;
  text-align: center;
  margin: 0 auto;
}

.info-panel .button {
    display: block;
    color: #e44b43;
    font-style: italic;
    border: solid 2px #e44b43;
    padding: 9px 15px 10px 15px;
    margin: 15px auto 34px auto;
    width: 100%;
    height: 44px;
    font-size: 14px;
    text-decoration: none;
}

.ask {
    display: block;
    background-color: #ffffff;
    color: #e44b43 !important;
    font-style: italic;
    border: solid 2px #e44b43;
    padding: 9px 15px 10px 15px;
    margin: 5px auto 5px auto;
    width: 128px;
    height: 40px;
    font-size: 14px;
    text-decoration: none;
    text-transform: none;
    border-radius: none;
}



.question-content {
    padding: 0 15px;
}


.question-author-picture {
    margin: 0 30px;
    line-height: 0;
    width: 100%;
    display: inline-block;
    margin-top: 10px;
}

.images.round img {
    border: 0 none;
    border-radius: 50%;
}

.images img {
    box-shadow: #fff 0 0 0;
    width: 100%;
    display: block;
    max-width: 100% !important;
    z-index: 9;
}

p.like a{
    text-decoration: none;
    color: #555;
}


#footer{
    display: block;
    text-align: center;
    height: 50px;
    letter-spacing: 0.122em;
    padding-top: 10px;
    margin-top: 20px;
}