<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->

<head>

	<meta charset="utf-8" />


    <title>Questionnaire {% block title %}{% endblock %}</title>


	<meta content="" name="description" />

	<link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon/favicon.ico') }} " type="image/x-icon" />
	<link rel="apple-touch-icon" href="{{ url_for('static', filename='img/favicon/apple-touch-icon.png') }} " />
	<link rel="apple-touch-icon" sizes="72x72" href="{{ url_for('static', filename='img/favicon/apple-touch-icon-72x72.png') }} " />
	<link rel="apple-touch-icon" sizes="114x114" href="{{ url_for('static', filename='img/favicon/apple-touch-icon-114x114.png') }} " />

	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

	<link rel="stylesheet" href="{{ url_for('static', filename='libs/bootstrap/css/bootstrap.min.css') }} " />
    <link rel="stylesheet" href="{{ url_for('static', filename='libs/bootstrap/css/bootstrap-tagsinput.css') }} " />
	<link rel="stylesheet" href="{{ url_for('static', filename='libs/animate/animate.css') }} " />

	<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap_skins.css') }} " />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }} " />
	<link rel="stylesheet" href="{{ url_for('static', filename='css/skins/red.css') }} " id="template_settings" />
	<link rel="stylesheet" href="{{ url_for('static', filename='css/media.css') }} " />

</head>

<body>

<!-- Begin block nav-bar -->

<nav class="navbar navbar-default navbar-fixed-top">
	<div class="container-fluid">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
				<span class="sr-only"> Menu</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="{{ url_for('index') }}">
                <img src="{{ url_for('static', filename='img/logo.png') }} " alt="Questionnaire"/>
            </a>
		</div>

		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			<ul class="nav navbar-nav">
				<li class="active"><a href="{{ url_for('index') }}"><span class="glyphicon glyphicon-home" aria-hidden="true"></span> Home <span class="sr-only">(current)</span></a></li>
                <li><a href="{{ url_for('order', order="newest") }}">Newest</a></li>
                <li><a href="#">Popular</a></li>
                <li><a href="#">Unanswered</a></li>
                <li>
                <form action="{{ url_for('new')}}">
                    <button type="submit" class="ask">Ask a question</button>
                </form>
                </li>
            </ul>

			<ul class="nav navbar-nav navbar-right">
                <form class="navbar-form navbar-left" role="search">
				    <div class="form-group">
				    	<input type="text" class="form-control" placeholder="Search">
				    </div>
				    <button type="submit" class="btn btn-default search"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
			    </form>

                {% if g.user.is_authenticated() %}
                    <li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                        <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                        &nbsp;{{ g.user.username  }} <span class="caret"></span>
                    </a>
					<ul class="dropdown-menu" role="menu">
						<li><a href="{{ url_for('user', username = g.user.username) }}"> {{ g.user.username  }} profile</a></li>
                        <li><a href="#">Settings..</a></li>
                        <li role="presentation" class="divider"></li>
                        <li><a href="{{ url_for('logout') }}"> Logout</a></li>
					</ul>
				    </li>

                {% else %}
                    <li><a href="{{ url_for('signup') }}">Sign Up</a></li>
                    <li><a href="{{ url_for('signin') }}">Sign In</a></li>
                {% endif %}
			</ul>
		</div>
	</div>
</nav>
<!-- End block nav-bar -->

<!-- Begin block Content -->

<div class="container">

    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <div class="alert alert-dismissible alert-success">
        <button type="button" class="close" data-dismiss="alert">×</button>
        <ul>
            {% for message in messages %}
                <li>{{ message }} </li>
            {% endfor %}
        </ul>
        </div>
      </div>
    </div>
    {% endif %}
    {% endwith %}

    {% block content %}{% endblock %}
  </div>
</div>
<!-- End block Content -->

<div class="row">
    <div class="col-md-12">
        <div id="footer">
            <p>© 2015, Mar41k. All Rights Reserved.</p>
        </div>
    </div>
</div>


	<div class="hidden"></div>

	<!--[if lt IE 9]>
	<script src="{{ url_for('static', filename='libs/html5shiv/es5-shim.min.js') }} "></script>
	<script src="{{ url_for('static', filename='libs/html5shiv/html5shiv.min.js') }} "></script>
	<script src="{{ url_for('static', filename='libs/html5shiv/html5shiv-printshiv.min.js') }} "></script>
	<script src="{{ url_for('static', filename='libs/respond/respond.min.js') }} "></script>
	<![endif]-->

<!-- <script src="{{ url_for('static', filename='styles/dist/js/bootstrap.js') }}"></script>  -->

	<script src="{{ url_for('static', filename='libs/jquery/jquery-1.11.2.min.js') }} "></script>
	<script src="{{ url_for('static', filename='libs/modernizr/modernizr.js') }} "></script>
	<script src="{{ url_for('static', filename='libs/bootstrap/js/bootstrap.min.js') }} "></script>
    <script src="{{ url_for('static', filename='libs/bootstrap/js/bootstrap-tagsinput.js') }} "></script>
	<script src="{{ url_for('static', filename='libs/waypoints/waypoints.min.js') }} "></script>
	<script src="{{ url_for('static', filename='libs/plugins-scroll/plugins-scroll.js') }} "></script>
	<script src="{{ url_for('static', filename='libs/animate/animate-css.js') }} "></script>

	<script src="{{ url_for('static', filename='js/common.js') }} "></script>

	<script src="{{ url_for('static', filename='js/skins.js') }} "></script>

</body>
</html>