{% extends "base.html" %}
{% block content %}

    {% for question in questions %}
    <div class="row">
      <div class="col-md-2 col-md-offset-1 col-sm-3 col-xs-3">
          <div class="info-panel">
            <h4><b>{{ question.user.username | upper}}</b></h4>
              <p>
                  {{ question.pub_date.strftime('%e %B, %Y  %H:%M')}}
                  <a href="{{ url_for('show_or_update', question_id=question.id) }}" class="button">Reply</a>
              </p>

          </div>
      </div>
      <div class="col-md-8 col-sm-9 col-xs-9">
          <div class="question-content">
              <h2>{{question.title}}</h2>
              <p>{{ question.text|truncate(200, True) }}</p>
          </div>
      </div>
      <div class="row"><div class="col-md-10 col-md-offset-1">
          <div class="thin-borderline"></div>
      </div></div>
    </div>

    {% endfor %}

{% endblock %}