{% extends "base.html" %}

{% block title %} {{ title }} {% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-4 col-md-offset-4 col-sm-12">

            <form action="{{ url_for('signin')}}" class="form-horizontal" method="POST">

                {{ signinpage_form.hidden_tag() }}

                <div class="heading">
                    <h4 class="form-heading">Sign In</h4>
                </div>

                <div class="form-group {% if signinpage_form.username.errors %} has-error {% endif %}">
                    {{signinpage_form.username.label(class="col-sm-12")}}
                    <div class="col-sm-12">
                        {{ signinpage_form.username(class="form-control", placeholder="Username") }}
                    </div>
                    <p class="col-sm-12 help-block">
                    {{ signinpage_form.username.errors[0] }}
                </div>

                <div class="form-group {% if signinpage_form.password.errors %} has-error {% endif %}">
                    {{signinpage_form.password.label(class="col-sm-12")}}
                    <div class="col-sm-12">
                        {{ signinpage_form.password(class="form-control", placeholder="Password") }}
                    </div>
                    <p class="col-sm-12 help-block">
                    {{ signinpage_form.password.errors[0] }}
                </div>

                <div class="col-sm-12 checkbox">
                {{ signinpage_form.remember_me }}
                {{ signinpage_form.remember_me.label(style="color:rgb(74,74,74);") }}
                </div>

                <div class="form-group">
                <button class="btn btn-success signup" type="submit">Sign In</button>
                </div>
            </form>
        </div>
    </div>

{% endblock %}

<form action="{{ url_for('signin')}}" class="navbar-form navbar-right" method="POST">
        {{ signinpage_form.hidden_tag() }}
        <div class="form-group">
        {{ signinpage_form.username(class="form-control", placeholder="Username") }}
        </div>
        <div class="form-group">
        {{ signinpage_form.password(class="form-control", placeholder="Password") }}
        </div>
        <div class="checkbox">
        {{ signinpage_form.remember_me }}
        {{ signinpage_form.remember_me.label(style="color:rgb(240,240,240);") }}
        </div>
        <div class="form-group">
        <button class="btn btn-default" type="submit">Sign In</button>
        </div>
</form>