{% extends 'base.html' %}

{% block title %} {{ title }} {% endblock %}

{% block content %}

    <div class="row">
        <div class="col-md-4 col-md-offset-4 col-sm-12">
            <form action="{{url_for('new')}}" class="form-horizontal" method="POST">

                {{ form.hidden_tag() }}

                <div class="heading">
                    <h4 class="form-heading">Ask a question</h4>
                </div>

                <div class="form-group {% if form.title.errors %} has-error {% endif %}">
                    {{form.title.label(class="col-sm-12")}}
                    <div class="col-sm-12">
                        {{form.title(placeholder="title", class="form-control")}}
                    </div>
                    <p class="col-sm-12 help-block">
                    {{ form.title.errors[0] }}
                </div>


                <div class="form-group {% if form.text.errors %} has-error {% endif %}">
                    {{form.text.label(class="col-sm-12")}}
                    <div class="col-sm-12">
                        {{ form.text(placeholder="description", class="form-control") }}
                    </div>
                    <p class="col-sm-12 help-block">
                    {{ form.text.errors[0] }}
                </div>

                <div class="form-group {% if form.tags.errors %} has-error {% endif %}">
                    {{form.tags.label(class="col-sm-12")}}

                    <div class="col-sm-12">
                        {{ form.tags(placeholder="tags", class="form-control" ) }}
                    </div>
                    <p class="col-sm-12 help-block">
                    {{ form.tags.errors[0] }}
                </div>

                <button class="btn btn-success signup" type="submit">Ask</button>
            </form>
        </div>
    </div>

{% endblock %}