{% extends 'base.html' %}
{% block title %} {{ title }} {% endblock %}
{% block content %}

    <div class="row">
        <div class="col-md-4 col-md-offset-4 col-sm-12">
            <form action="{{url_for('signup')}}" class="form-horizontal" method="POST">

                {{ form.hidden_tag() }}

                <div class="heading">
                    <h4 class="form-heading">Sign Up</h4>
                </div>

                <div class="form-group {% if form.username.errors %} has-error {% endif %}">
                    {{form.username.label(class="col-sm-12")}}
                    <div class="col-sm-12">
                        {{form.username(placeholder="username", class="form-control")}}
                    </div>
                    <p class="col-sm-12 help-block">
                    {{ form.username.errors[0] }}
                </div>


                <div class="form-group {% if form.email.errors %} has-error {% endif %}">
                    {{form.email.label(class="col-sm-12")}}
                    <div class="col-sm-12">
                        {{ form.email(placeholder="email@example.com", class="form-control") }}
                    </div>
                    <p class="col-sm-12 help-block">
                    {{ form.email.errors[0] }}
                </div>

                <div class="form-group {% if form.password.errors %} has-error {% endif %}">
                    {{form.password.label(class="col-sm-12")}}

                    <div class="col-sm-12">
                        {{ form.password(placeholder="Min. 6 Characters", class="form-control") }}
                    </div>
                    <p class="col-sm-12 help-block">
                    {{ form.password.errors[0] }}
                </div>

                <button class="btn btn-success signup" type="submit">Sign Up</button>
            </form>
        </div>
    </div>

{% endblock %}
