{% extends 'base.html' %}

{% block content %}
    <div class="page-header">
        <h1>First Name: {{ user.firstname }}</h1>
        <h1>Last Name: {{ user.lastname }}</h1>

        <span class="glyphicon glyphicon-tags" aria-hidden="true">&nbsp;{{ user.tagline }}</span>

    </div>
    <div class="row">
        <div class="col-sm-6 col-xs-6 col-md-4">

                <img class="img img-rounded" src="{{ url_for('static', filename=user.avatar) }} "/>
                <p>
                biography: {{ user.bio }}
                </p>

        </div>

        <div class="col-sm-6 col-xs-6 col-md-8">
            <h3>Questions: </h3>
            {% for question in user.questions %}
            <p><a href="{{ url_for('show_or_update', question_id=question.id) }} ">{{ question.title }}</a></p>
            {% endfor %}
        </div>
    </div>
{% endblock %}


