{% extends 'base.html' %}

{% block title %} {{ question.title }} {% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-2 col-sm-3 col-xs-3 col-md-offset-1">
            <div class="info-panel">
                <div class="blog-author-picture">
                   <div class="images round">
                       <img src="{{ url_for('static', filename=question.user.avatar) }} " alt=""/>
                   </div>
                </div>
              <h4><b>{{ question.user.username | upper}}</b></h4>
                  <p>
                      {{ question.pub_date.strftime('%e %B, %Y  %H:%M')}}

                  </p>
             </div>
        </div>

        <div class="col-md-8 col-sm-9 col-xs-9">
            <h1>{{ question.title }}</h1>
            <p><span class="glyphicon glyphicon-tags" aria-hidden="true"></span>
            {% for tag in question.tags.split(',') %}
            <span>&nbsp;{{ tag }}</span>
            {% endfor %}
            </p>
            <p>{{ question.text }}</p>

            <h5><span class="glyphicon glyphicon-comment" aria-hidden="true"></span> {{ question.answers|length }}</h5>
            <hr/>
            {% for answer in question.answers %}
                <div class="row">
                    <div class="col-xs-3 col-sm-3 col-md-2 ">
                        <div class="info-panel">
                            <div class="blog-author-picture">
                                <div class="images round">
                                    <img src="{{ url_for('static', filename=question.user.avatar) }} " alt=""/>
                                </div>
                            </div>
                            <p><b>{{ answer.user.username | upper}}</b></p>
                            <h6>{{ answer.date.strftime('%m/%d/%Y %H:%M') }}</h6>
                        </div>
                    </div>
                    <div class="col-sm-9 col-xs-9 col-md-9">
                        <blockquote>
                            <p>{{ answer.text }}</p>

                            <p class="like">
                                <a href="{{ url_for('add_like', answer_id=answer.id) }}">
                                    <span class="glyphicon glyphicon-thumbs-up" style="color:green" aria-hidden="true"></span>
                                    &nbsp;{{ answer.like }}
                                </a>
                            </p>
                        </blockquote>
                    </div>
                </div>
                {% endfor %}


            <form action="{{ url_for('addanswer', question_id=question.id) }}" class="form-horizontal" method="POST">

                {{ form.hidden_tag() }}

               <div class="form-group {% if form.text.errors %} has-error {% endif %}">
                    {{form.text.label(class="col-sm-12")}}
                    <div class="col-sm-12">
                        {{form.text(placeholder="Answer", class="form-control", style="height: 100px")}}
                    </div>
                    <p class="col-sm-12 help-block">
                    {{ form.text.errors[0] }}
                </div>
                <button class="btn btn-success signup" type="submit">Answer</button>
            </form>


        </div>
    </div>

{% endblock %}